*{
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.main{
    height: 65%;
    width: 65%;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 8fr;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Lexend Deca', sans-serif;;
}

.sections{
    display: flex;
    gap: 25px;
    height: 100%;
    flex-direction: column;
    justify-content:flex-start;
}

img{
    height: auto;
    width: 5rem;
}

.sedans{
    color:  hsl(31, 77%, 52%);
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
}

.suvs{
    color: hsl(184, 100%, 22%);
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
}

.luxury{
    color: hsl(179, 100%, 13%);
    background-color: hsl(179, 100%, 13%);
    padding: 40px; 
}

h2{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
}

p{
    color:  hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    line-height: 1.8;
}

button{
    color: inherit;
    background-color: hsl(0, 0%, 95%);
    height: 40px;
    width: 60%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
}

@media (hover: hover){
    button:hover{
        color: hsl(0, 0%, 95%);
        background-color: inherit;
        border: 2px solid hsl(0, 0%, 95%);
    }
}

@media screen and (max-width:450px) and (orientation: portrait) {
    body{
        height: auto;
    }

    .main{
        height:auto;
        width: 85%;
        display: grid;
        grid-template-columns: 5fr;
        grid-template-rows: 8fr 8fr 8fr ;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    button{
        margin: 0;
    }
}